/*
Kraken Tracker
tracker.css
Priyesh Patel 2013
*/

body {
    background: #ECF0F1;
}

.brand small {
    color: #16A085;
}

hr {
    border-top: 1px solid #BDC3C7;
}

#logo {
    float: left;
    background: url('/img/logo.png') no-repeat;
    background-position: 0px 0px;
    height: 28px;
    width: 82px;
    margin: 10px 20px;
    margin-left: 0;
}

#logo:hover {
    background-position: 0px -28px;
}

.navbar .brand {
    color: #BDC3C7;
}

.navbar .brand:hover {
    color: #1ABC9C;
}

.nav {
    font-size: 14px;
}

.navbar .nav > li > a {
    padding: 17px 15px 15px 15px;
}

#content {            
    position:absolute; 
    top: 53px; 
    left: 0;
    right: 0; 
    bottom: 0;
}

#sidebar-main {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 140px;
    width: 200px;
    padding: 10px 20px;
    z-index: 9999;
    background: #ECF0F1; 
}

#sidebar-bottom {
    position: absolute;
    bottom: 0;
    width: 200px;
    padding: 20px 20px 10px 20px;
    z-index: 9999;
    background: #ECF0F1;
}

#sidebar-main h4 {
    font-weight: bold;
}

#sidebar-main h4 small {
    display: block;
    margin-top: 5px;
    color: #7F8C8D;
}

#sidebar-main .section {
    margin-left: 0;
}

#sidebar-main .section li {
    list-style-type: none;
    margin-bottom: 3px;
}

#sidebar-main .section li strong {
    display: block;
}

#sidebar-main .section li span {
    color: #7F8C8D;
}

#imu-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 10px 20px;
    background: #34495E;
    overflow-x: hidden;
    overflow-y: auto;
}

#imu-panel h4, #imu-panel p {
    color: #ECF0F1;
}

#imu-panel ul {
    margin: 20px 0;
}

#imu-panel li {
    list-style-type: none;
    margin-bottom: 8px;
}

#imu-panel li a {
    font-size: 14px;
}

#google-map { 
    position: absolute; 
    left: 240px;
    top: 0;
    right: 0;
    bottom: 0;
}

#graph-panel {
    display: none;
    background: #ECF0F1;
    position: absolute;
    left: 240px;
    bottom: -270px;
    right: 0;
    height: 250px;
    padding: 10px 20px;
    overflow: hidden;
}

#graph-panel > div {
    margin-bottom: 10px;
}

#graph-select p {
    display: inline;
    margin-right: 4px;
}

#graph-select a.btn {
    font-size: 13px;
}

#graph {
    width: 100%;
    height: 200px;
}

#bottom {
    background: #ECF0F1;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#bottom p {
    margin: 0px 10px;
    line-height: 30px;
    text-align: right;
}

.transmission-info-window {
    margin: 5px 10px;
}

.transmission-info-window h5 {
    font-weight: bold;

}

.transmission-info-window p {
    color: #7F8C8D;
    margin-bottom: 0px;
}

.transmission-info-window p strong {
    color: #34495E;
}

.credits {
    display: none;
    color: #7F8C8D;
    font-style: italic;
}

#graph-tooltip {
    position: absolute;
    display: none;
    padding: 3px;
    background-color: #2C3E50;
    color: #ECF0F1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

@media screen and (max-width: 850px) {
    .brand.secondary {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .navbar .nav {
        display: none!important;
    }


    #google-map { 
        bottom: 0;
    }

    #bottom {
        display: none;
    }

    #sidebar-bottom {
        height: 0;
        margin: 0;
        padding: 0;
        display: none;
    }

    .credits {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    #google-map { 
        display: none;
    }

    #sidebar-main {
        right: 0;
        width: 80%;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 300px) {
    #logo {
        display: none;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
}
